<!DOCTYPE html>
<html>
<head>
  <title>vpsAdmin Console</title>
  <link rel="stylesheet" href="/xterm.css?<%= Time.now.to_i %>" />
  <script type="text/javascript" src="/xterm.js?<%= Time.now.to_i %>"></script>
  <script type="text/javascript" src="/console.js?<%= Time.now.to_i %>"></script>
  <script type="text/javascript" src="/haveapi-client.js?<%= Time.now.to_i %>"></script>
</head>
<body>
  <noscript>JavaScript must be enabled for the console to work.</noscript>

  <div id="terminal"></div>

  <script type="text/javascript">
    var remoteConsole = new VpsAdminConsole(
      document.getElementById('terminal'),
      <%= vps_id %>,
      '<%= session %>'
    );
    remoteConsole.open();
  </script>
</body>
</html>
