<%

def url(page, params = nil)
  @base_url + "?page=" + page + (params ? "&#{params}" : "")
end

def time(t)
  return '---' unless t
  t = Time.at(t) unless t.is_a?(::Time)
  t.strftime("%Y-%m-%d %H:%M:%S")
end

def duration(interval)
  d = interval / 86400
  h = interval / 3600 % 24
  m = interval / 60 % 60
  s = interval % 60

  if d > 0
    "%d days, %02d:%02d:%02d" % [d, h, m, s]
  else
    "%02d:%02d:%02d" % [h, m, s]
  end
end

def balance(a, b)
  ret = a - b
  sign = ""

  if ret > 0
    sign = "+"
  elsif ret < 0
    sign = ''
  end

  "#{sign}#{ret}"
end

def concern_class(o)
  case o[0]
  when 'Vps'
    "VPS <a href=\"#{url('adminvps', "action=info&veid=#{o[1]}")}\">#{o[1]}</a>"

  when 'User'
    "#{o[0]} <a href=\"#{url('adminm', "action=edit&id=#{o[1]}")}\">#{o[1]}</a>"
  
  else
    "#{o[0]} #{o[1]}"
  end
end

def chain_concerns(c)
  concerns = c.format_concerns
  return '---' if concerns[:objects].empty?

  case concerns[:type]
  when 'affect'
    return concern_class(concerns[:objects][0])

  when 'transform'
    return "#{concern_class(concerns[:objects][0])} -> #{concern_class(concerns[:objects][1])}"
  end

  fail "unsupported concert type '#{concerns[:type]}'"
end

def list_users(users, col)
  ret = <<END
  <table>
    <tr>
      <th>ID</th>
      <th>LOGIN</th>
      <th>VPS</th>
      <th>FULL NAME</th>
      <th>EMAIL</th>
      <th>#{col}</th>
    </tr>
END

  users[:changed].each do |u|
    ret += <<END
      <tr>
	<td><a href="#{url("adminm", "action=edit&id=#{u.id}")}">#{u.id}</a></td>
	<td>#{u.login}</td>
	<td><a href="#{url("adminvps", "user=#{u.id}")}">#{u.vpses.count}</a></td>
	<td>#{u.m_name}</td>
	<td><a href="mailto:#{u.m_mail}">#{u.m_mail}</a></td>
	<td>#{u.current_state.created_at.localtime.strftime('%Y-%m-%d %H:%M:%S')}</td>
     </tr>
END
  end

  ret += "</table>\n"
  ret
end

def list_vpses(vpses, col)
  ret = <<END
  <table>
    <tr>
      <th>ID</th>
      <th>HOSTNAME</th>
      <th>USER</th>
      <th>NODE</th>
      <th>CPU</th>
      <th>MEMORY</th>
      <th>#{col}</th>
    </tr>
END

  vpses[:changed].includes(:user, :node).each do |vps|
	user = ::User.unscoped.find(vps.m_id)
    ret += <<END
      <tr>
	<td><a href="#{url("adminvps", "action=edit&veid=#{vps.id}")}">#{vps.id}</a></td>
	<td>#{vps.hostname}</td>
	<td><a href="#{url("adminm", "action=edit&id=#{vps.m_id}")}">#{user.login}</a></td>
	<td>#{vps.vps_server} #{vps.node.domain_name}</td>
	<td>#{vps.cpu} cores</td>
	<td>#{vps.memory / 1024} GiB</td>
	<td>#{vps.current_state.created_at.localtime.strftime('%Y-%m-%d %H:%M:%S')}</td>
      </tr>
END
   end

  ret += "</table>\n"
  ret
end

%>
<html>
<head>
  <style>
    h1, h2, h3, h4, h5, h6 {
      margin: 15px 0 10px 0;
    }

    p, table, ul, ol, dl, fieldset {
      margin: 15px 0;
    }

    table {
      border-collapse: collapse;
      border-spacing: 0;
      font-size: 100%;
    }

    table.overview td {
      text-align: right;
    }

    th {
      text-align: center;
      font-weight: bold;
    }

    th, td {
      padding: 3px 7px;
    }

    td.title {
      font-weight: bold;
    }

    dt {
      font-weight: bold;
    }

    dd {
      margin-left: 30px;
    }

    table th {
      background: #5EAFFF;
      color: #FFF;
    }

    table th, table td {
      border: 1px solid #B2DAFF;
    }

    tr.error {
      background: #FF5555;
    }

    tr.warning {
      background: #FFBE30;
    }
  </style>
</head>
<body>
<h1>Daily report</h1>
<dl>
  <dt>From:</dt>
  <dd><%= @date[:start].localtime.strftime("%Y-%m-%d %H:%M") %></dd>

  <dt>To:</dt>
  <dd><%= @date[:end].localtime.strftime("%Y-%m-%d %H:%M") %></dd>
</dl>

<h2>Overview</h2>
<table class="overview">
  <tr>
    <th></th>
    <th></th>
    <th>NEW</th>
    <th>ACTIVE</th>
    <th>SUSPENDED</th>
    <th>SOFT DELETED</th>
    <th>HARD DELETED</th>
    <th>BALANCE</th>
  </tr>
  <tr>
    <td rowspan="2" class="title">Users</td>
    <td>Total</td>
    <td>-</td>
    <td><%= @users[:active][:all].count %></td>
    <td><%= @users[:suspended][:all].count %></td>
    <td><%= @users[:soft_deleted][:all].count %></td>
    <td><%= @users[:hard_deleted][:all].count %></td>
    <td>-</td>
  </tr>
  <tr>
    <td>Changed</td>
    <td><%= new_users = @users[:new][:changed].count %></td>
    <td><%= active_users = @users[:active][:changed].count %></td>
    <td><%= suspended_users = @users[:suspended][:changed].count %></td>
    <td><%= soft_deleted_users = @users[:soft_deleted][:changed].count %></td>
    <td><%= hard_deleted_users = @users[:hard_deleted][:changed].count %></td>
    <td><%= balance(new_users, soft_deleted_users) %></td>
  </tr>
  <tr>
    <td rowspan="2" class="title">VPS</td>
    <td>Total</td>
    <td>-</td>
    <td><%= @vps[:active][:all].count %></td>
    <td><%= @vps[:suspended][:all].count %></td>
    <td><%= @vps[:soft_deleted][:all].count %></td>
    <td><%= @vps[:hard_deleted][:all].count %></td>
    <td>-</td>
  </tr>
  <tr>
    <td>Changed</td>
    <td><%= new_vpses = @vps[:new][:changed].count %></td>
    <td><%= active_vpses = @vps[:active][:changed].count %></td>
    <td><%= suspended_vpses = @vps[:suspended][:changed].count %></td>
    <td><%= soft_deleted_vpses = @vps[:soft_deleted][:changed].count %></td>
    <td><%= hard_deleted_vpses = @vps[:hard_deleted][:changed].count %></td>
    <td><%= balance(new_vpses, soft_deleted_vpses) %></td>
  </tr>
</table>

<table class="overview">
  <tr>
    <th>STORAGE</th>
    <th>NEW</th>
    <th>TOTAL</th>
    <th>HYPERVISOR</th>
    <th>PRIMARY</th>
    <th>BACKUP</th>
  </tr>
  <tr>
    <td>Datasets</td>
    <td>-</td>
    <td><%= @datasets[:all].count %></td>
    <td><%= @datasets[:hypervisor].count.size %></td>
    <td><%= @datasets[:primary].count.size %></td>
    <td><%= @datasets[:backup].count.size %></td>
  </tr>
  <tr>
    <td>Snapshots</td>
    <td><%= @snapshots[:new].count %></td>
    <td><%= @snapshots[:all].count %></td>
    <td><%= @snapshots[:hypervisor].count.size %></td>
    <td><%= @snapshots[:primary].count.size %></td>
    <td><%= @snapshots[:backup].count.size %></td>
  </tr>
  <tr>
    <td>Downloads</td>
    <td><%= @downloads[:new].count %></td>
    <td><%= @downloads[:all].count %></td>
    <td><%= @downloads[:hypervisor].count %></td>
    <td><%= @downloads[:primary].count %></td>
    <td><%= @downloads[:backup].count %></td>
  </tr>
</table>

<% if new_users > 0 %>
  <h3>New users</h3>
  <%= list_users(@users[:new], 'CREATED AT') %>
<% end %>

<% if active_users > 0 %>
  <h3>Active users</h3>
  <%= list_users(@users[:active], 'SUSPENDED AT') %>
<% end %>

<% if suspended_users > 0 %>
  <h3>Suspended users</h3>
  <%= list_users(@users[:suspended], 'SUSPENDED AT') %>
<% end %>

<% if soft_deleted_users > 0 %>
  <h3>Soft deleted users</h3>
  <%= list_users(@users[:soft_deleted], 'DELETED AT') %>
<% end %>

<% if soft_deleted_users > 0 %>
  <h3>Hard deleted users</h3>
  <%= list_users(@users[:hard_deleted], 'DESTROYED AT') %>
<% end %>

<% if new_vpses > 0 %>
  <h3>New VPSes</h3>
  <%= list_vpses(@vps[:new], 'CREATED AT') %>
<% end %>

<% if active_vpses > 0 %>
  <h3>Active VPSes</h3>
  <%= list_vpses(@vps[:active], 'CREATED AT') %>
<% end %>

<% if suspended_vpses > 0 %>
  <h3>Suspended VPSes</h3>
  <%= list_vpses(@vps[:suspended], 'SUSPENDED AT') %>
<% end %>

<% if soft_deleted_vpses > 0 %>
  <h3>Soft deleted VPSes</h3>
  <%= list_vpses(@vps[:soft_deleted], 'DELETED AT') %>
<% end %>

<% if hard_deleted_vpses > 0 %>
  <h3>Hard deleted VPSes</h3>
  <%= list_vpses(@vps[:hard_deleted], 'DESTROYED AT') %>
<% end %>

<h2>Transaction chains</h2>
<table class="overview">
  <tr>
    <th>TOTAL</th>
    <th>DONE</th>
    <th>FAILED</th>
    <th>FATAL</th>
    <th>RESOLVED</th>
  </tr>
  <tr>
    <td><%= @chains[:total].count %></td>
    <td><%= @chains[:done].count %></td>
    <td><%= failed_chains = @chains[:failed].count %></td>
    <td><%= fatal_chains = @chains[:fatal].count %></td>
    <td><%= @chains[:resolved].count %></td>
  <tr>
</table>

<h2>Transactions</h2>
<table class="overview">
  <tr>
    <th>TOTAL</th>
    <th>DONE</th>
    <th>QUEUED</th>
    <th>SUCCESS</th>
    <th>WARN</th>
    <th>ROLLBACK</th>
    <th>FAILED</th>
  </tr>
  <tr>
    <td><%= @transactions[:total].count %></td>
    <td><%= @transactions[:done].count %></td>
    <td><%= @transactions[:pending].count %></td>
    <td><%= @transactions[:successful].count %></td>
    <td><%= @transactions[:warning].count %></td>
    <td><%= @transactions[:rollbacked].count %></td>
    <td><%= @transactions[:failed].count %></td>
  </tr>
</table>

<% if failed_chains > 0 || fatal_chains > 0 %>
  <h3>Failed transaction chains</h3>
  <table>
    <tr>
      <th>ID</th>
      <th>DATE</th>
      <th>USER</th>
      <th>LABEL</th>
      <th>OBJECT</th>
      <th>STATE</th>
      <th>SIZE</th>
      <th>PROGRESS</th>
    </tr>
    <% @chains[:all_failed].includes(:user, :transaction_chain_concerns).each do |c| %>
      <tr class="error">
        <td><a href="<%= url("transactions", "chain=#{c.id}") %>"><%= c.id %></a></td>
        <td><%= c.created_at.localtime.strftime('%Y-%m-%d %H:%M:%S') %></td>
        <td>
	  <% if c.user_id %>
	    <a href="<%= url("adminm", "action=edit&id=#{c.user_id}") %>"><%= "#{c.user_id} #{c.user.login}" %></a>
	  <% else %>
            ---
	  <% end %>
        </td>
	<td><%= c.label %></td>
	<td><%= chain_concerns(c) %></td>
        <td><%= c.state %></td>
        <td><%= c.size %></td>
        <td><%= c.progress %></td>
      </tr>
    <% end %>
  </table>
<% end %>
</body>
</html>

