<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
    <title>vpsAdmin Authentication</title>
    <style>
      body { margin-top: 40px; }
      .input-group-prepend span { min-width: 42px; }
    </style>
    <script type="text/javascript">
      function onLoginFormSubmit() {
        setTimeout(function() {
          var button = document.getElementById('login');
          button.disabled = true;
          button.value = "Signing in...";
        }, 10);
      }

      function togglePasswords() {
        document.querySelectorAll('form input.password-toggle').forEach(function (el) {
          if (el.type == 'password')
            el.type = 'text';
          else
            el.type = 'password';
        });

        document.querySelectorAll('form i.password-toggle').forEach(function (el) {
          if (el.classList.contains('fa-eye-slash')) {
            el.classList.remove('fa-eye-slash');
            el.classList.add('fa-eye');
          } else {
            el.classList.remove('fa-eye');
            el.classList.add('fa-eye-slash');
          }
        });
      }
    </script>
  </head>
  <body>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-sm-6 col-lg-4 mx-auto">
          <div class="card">
            <article class="card-body">
              <img src="<%= logo_url %>" class="card-img-top" alt="vpsFree.cz">
              <h4 class="card-title text-center mb-4 mt-1">Sign in using vpsAdmin</h4>
              <h5 class="card-subtitle text-center text-muted mb-2"><%= client.name %></h5>
              <hr>
              <% if step == :reset_password -%>
                <div class="alert alert-primary" role="alert">
                  Please set a new password.
                </div>
              <% end -%>
              <% (auth_result ? auth_result.errors : []).each do |error| -%>
                <div class="alert alert-danger" role="alert">
                  Error: <%= Rack::Utils.escape_html(error) %>
                </div>
              <% end -%>

              <form action="<%= authorize_path %>" method="post" onsubmit="onLoginFormSubmit();">
                <% oauth2_params(oauth2_request).each do |k, v| -%>
                  <input type="hidden" name="<%= k %>" value="<%= Rack::Utils.escape_html(v) %>">
                <% end -%>

                <% if auth_token -%>
                  <input type="hidden" name="auth_token" value="<%= auth_token %>">
                <% end -%>

                <% if step == :credentials -%>
                  <div class="form-group">
                    <div class="input-group">
                      <div class="input-group-prepend">
                          <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                       </div>
                       <input type="text" class="form-control" name="user" placeholder="User" value="<%= Rack::Utils.escape_html(user) %>" <%= user && !user.empty? ? '' : 'autofocus' %>>
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                      </div>
                      <input class="form-control password-toggle" type="password" name="password" placeholder="Password" <%= user && !user.empty? ? 'autofocus' : '' %>>
                      <div class="input-group-append">
                        <a href="#" onclick="togglePasswords();" class="input-group-text"><i class="fa fa-eye-slash password-toggle" aria-hidden="true"></i></a>
                      </div>
                    </div>
                  </div>

                <% elsif step == :totp -%>
                  <div class="form-group">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                      </div>
                      <input type="text" class="form-control" name="totp_code" id="totp_code" placeholder="TOTP code" autofocus>
                    </div>
                  </div>

                  <dic class="form-group">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" name="skip_multi_factor" value="1" id="skip_multi_factor" <%= skip_multi_factor.nil? || skip_multi_factor ? 'checked' : '' %>>
                      <label class="form-check-label" for="skip_multi_factor">
                        Do not ask for TOTP code on this device next time
                      </label>
                    </div>
                  </div>

                <% elsif step == :reset_password -%>
                  <div class="form-group">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                      </div>
                      <input type="password" class="form-control password-toggle" name="new_password1" placeholder="New password" minlength="8" autofocus>
                      <div class="input-group-append">
                        <a href="#" onclick="togglePasswords();" class="input-group-text"><i class="fa fa-eye-slash password-toggle" aria-hidden="true"></i></a>
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                      </div>
                      <input type="password" class="form-control password-toggle" name="new_password2" placeholder="Repeat new password" minlength="8">
                      <div class="input-group-append">
                        <a href="#" onclick="togglePasswords();" class="input-group-text"><i class="fa fa-eye-slash password-toggle" aria-hidden="true"></i></a>
                      </div>
                    </div>
                  </div>
                <% end -%>

                <div class="form-group">
                  <input type="submit" class="btn btn-primary btn-block" name="login" id="login" value="Log in">
                </div>

                <div class="form-group text-center">
                  <input type="submit" class="btn btn-outline-secondary btn-sm" name="cancel" value="Cancel">
                </div>
              </form>
              <% if %i(credentials totp).include?(step) -%>
                <hr>
                <p class="text-muted text-center">
                  <small>
                    <% if step == :credentials -%>
                      Forgot password? Contact <a href="mailto:<%= support_mail %>">support</a>.
                    <% elsif step == :totp -%>
                      Lost your authentication device? Try recovery code or contact <a href="mailto:<%= support_mail %>">support</a>.
                    <% end -%>
                  </small>
                </p>
              <% end -%>
            </article>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
