<html>
	<head>
		<style>
		h1, h2, h3, h4, h5, h6 {margin:15px 0 10px 0;}
		p, table, ul, ol, dl, fieldset {margin:15px 0;}
		table {border-collapse:collapse; border-spacing:0; font-size:100%;}
		th {text-align:center; font-weight:bold;}
		th, td {padding:3px 7px;}
		dt {font-weight:bold;}
		dd {margin-left:30px;}
		table th {background:#5EAFFF; color:#FFF;}
		table th, table td {border:1px solid #B2DAFF;}
		tr.error {background:#FF5555;}
		tr.warning {background:#FFBE30;}
		</style>
	</head>
	<body>
		<h1>Daily report</h1>
		<dl>
			<dt>From:</dt>
			<dd><%= date_start %></dd>
			
			<dt>To:</dt>
			<dd><%= date_end %></dd>
		</dl>
		
		<h2>Members</h2>
		<dl>
			<dt>New:</dt>
			<dd><%= m_new.num_rows %></dd>
			
			<dt>Deleted:</dt>
			<dd><%= m_deleted.num_rows %></dd>
			
			<dt>Balance:</dt>
			<dd><%= balance(m_new.num_rows, m_deleted.num_rows) %></dd>
		</dl>
		
		<% if m_new.num_rows > 0 %>
		<h3>New members</h3>
		<table>
			<tr>
				<th>ID</th>
				<th>NICKNAME</th>
				<th>VPS</th>
				<th>FULL NAME</th>
				<th>EMAIL</th>
				<th>CREATED</th>
			</tr>
			<% m_new.each_hash do |m| %>
			<tr>
				<td><a href="<%= url("adminm", "section=members&action=edit&id=#{m["m_id"]}") %>"><%= m["m_id"] %></a></td>
				<td><%= m["m_nick"] %></td>
				<td><a href="<%= url("adminvps", "m_nick=#{m["m_nick"]}") %>"><%= m["vps_cnt"] %></a></td>
				<td><%= m["m_name"] %></td>
				<td><a href="mailto:<%= m["m_mail"] %>"><%= m["m_mail"] %></a></td>
				<td><%= time(m["m_created"].to_i) %></td>
			</tr>
			<% end %>
		</table>
		<% end %>
		
		<% if m_deleted.num_rows > 0 %>
		<h3>Deleted members</h3>
		<table>
			<tr>
				<th>ID</th>
				<th>NICKNAME</th>
				<th>VPS</th>
				<th>FULL NAME</th>
				<th>EMAIL</th>
				<th>DELETED</th>
			</tr>
			<% m_deleted.each_hash do |m| %>
			<tr>
				<td><a href="<%= url("adminm", "section=members&action=edit&id=#{m["m_id"]}") %>"><%= m["m_id"] %></a></td>
				<td><%= m["m_nick"] %></td>
				<td><a href="<%= url("adminvps", "m_nick=#{m["m_nick"]}") %>"><%= m["vps_cnt"] %></a></td>
				<td><%= m["m_name"] %></td>
				<td><a href="mailto:<%= m["m_mail"] %>"><%= m["m_mail"] %></a></td>
				<td><%= time(m["m_deleted"].to_i) %></td>
			</tr>
			<% end %>
		</table>
		<% end %>
		
		<h2>Transactions</h2>
		<dl>
			<dt>Total:</dt>
			<dd><%= trans_stat %></dd>
			
			<dt>Done:</dt>
			<dd><%= trans_stat(1) %></dd>
			
			<dt>Sucessful:</dt>
			<dd><%= trans_stat(1, 1) %></dd>
			
			<dt>Warning:</dt>
			<dd><%= trans_stat(1, 2) %></dd>
			
			<dt>Failed:</dt>
			<dd><%= trans_stat(1, 0) %></dd>
		</dl>
		
		<h3>Failed transactions</h3>
		<table>
			<tr>
				<th>ID</th>
				<th>QUEUED</th>
				<th>TIME</th>
				<th>REAL</th>
				<th>MEMBER</th>
				<th>SERVER</th>
				<th>VPS</th>
				<th>TYPE</th>
				<th>DEP</th>
				<th>DONE?</th>
				<th>OK?</th>
			</tr>
			<% failed_transactions.each_hash do |t| %>
			<tr class="<%= t["t_success"].to_i == 0 ? "error" : "warning" %>">
				<td><a href="<%= url("transactions", "filter=yes&details=1&id=#{t["t_id"]}") %>"><%= t["t_id"] %></a></td>
				<td><%= time(t["t_time"].to_i) %></td>
				<td><%= duration(t["t_end"] ? t["t_end"].to_i - t["t_time"].to_i : 0) %></td>
				<td><%= duration(t["t_end"].to_i - t["t_real_start"].to_i) %></td>
				<td><a href="<%= url("adminm", "section=members&action=edit&id=#{t["t_m_id"]}") %>"><%= "#{t["t_m_id"]} #{t["m_nick"]}" %></a></td>
				<td><a href="<%= url("cluster") %>"><%= t["t_server"] %> <%= t["server_name"] %></a></td>
				<td><a href="<%= url("adminvps", "&action=info&veid=#{t["t_vps"]}") %>"><%= t["t_vps"] %></a></td>
				<td><a href="<%= url("transactions", "filter=yes&type=#{t["t_type"]}") %>"><%= t["t_type"] %></a></td>
				<td><a href="<%= url("transactions", "filter=yes&details=1&id=#{t["t_depends_on"]}") %>"><%= t["t_depends_on"] %></a></td>
				<td><%= t["t_done"] %></td>
				<td><%= t["t_success"] %></td>
			</tr>
			<% end %>
		</table>
	</body>
</html>
