<% def render_resource_body(resource, info, prefix='root') %>
  <h2 class="resource" id="<%= "#{prefix}-#{resource}" %>"><%= resource.humanize %></h2>
  <div class="resource-body">
    <p><%= info[:description] %></p>

    <h3>Actions</h3>

    <div class="actions">
      <% info[:actions].each do |action, info| %>
        <h4 id="<%= "#{prefix}-#{resource}-#{action}" %>"><%= resource.humanize %>.<%= action.capitalize %></h4>
        <div class="action">
          <dl>
            <dt>URL:</dt>
            <dd><%= info[:method] %> <%= info[:url] %></dd>
            <dt>Description:</dt>
            <dd><%= info[:description] %></dd>
            <dt>Authentication required:</dt>
            <dd><%= info[:auth] ? 'yes' : 'no' %></dd>
          </dl>

          <h5>Input parameters</h5>
          <div class="parameters">
            <% if info[:input][:parameters].empty? %>
              <p>No parameters.</p>
            <% else %>
              <dl>
                <dt>Layout:</dt>
                <dd><%= info[:input][:layout] %></dd>
                <dt>Namespace:</dt>
                <dd><%= info[:input][:namespace] %></dd>
              </dl>

              <table class="table table-striped table-hover">
                <tr>
                  <th>Label</th>
                  <th>Name</th>
                  <th>Required</th>
                  <th>Type</th>
                  <th>Validators</th>
                  <th>Description</th>
                </tr>
                <% info[:input][:parameters].each do |param, info| %>
                  <tr>
                    <td><%= info[:label] %></td>
                    <td><%= param %></td>
                    <td><%= info[:required] ? 'yes' : 'no' %></td>
                    <td><%= info[:type] %></td>
                    <td><%= info[:validators] %></td>
                    <td><%= info[:description] %></td>
                  </tr>
                <% end %>
              </table>
            <% end %>
          </div>

          <h5>Output parameters</h5>
          <div class="parameters">
            <% if info[:output][:parameters].empty? && info[:output][:format].nil? %>
              <p>No parameters.</p>
            <% else %>
              <dl>
                <dt>Layout:</dt>
                <dd><%= info[:output][:layout] %></dd>
                <dt>Namespace:</dt>
                <dd><%= info[:output][:namespace] %></dd>
              </dl>

              <table class="table table-striped table-hover">
                <tr>
                  <th>Label</th>
                  <th>Name</th>
                  <th>Type</th>
                  <th>Description</th>
                </tr>
                <% info[:output][:parameters].each do |param, info| %>
                  <tr>
                    <td><%= info[:label] %></td>
                    <td><%= param %></td>
                    <td><%= info[:type] %></td>
                    <td><%= info[:description] %></td>
                  </tr>
                <% end %>
              </table>
            <% end %>
          </div>

          <% unless info[:example].empty? %>
            <h5>Example</h5>
            <p><%= info[:example][:comment] %></p>

            <h6>Request</h6>
            <pre><code><%= JSON.pretty_generate(info[:example][:request]) %></code></pre>

            <h6>Response</h6>
            <pre><code><%= JSON.pretty_generate(info[:example][:response]) %></code></pre>
          <% end %>

        </div>
      <% end %>
    </div>

    <% unless info[:resources].empty? %>
      <h4>Resources</h4>
      <% info[:resources].each do |r, i| %>
        <% render_resource_body(r, i, "#{prefix}-#{resource}") %>
      <% end %>
    <% end %>

  </div> <!-- resource -->
<% end %>

<% def render_resource_nav(resource, info, prefix='root') %>
  <li>
    <a href="#<%= "#{prefix}-#{resource}" %>"><%= resource.humanize %></a>

    <ul class="">
      <% info[:actions].each do |action, info| %>
        <li>
          <a href="#<%= "#{prefix}-#{resource}-#{action}" %>"><%= action.capitalize %></a>
        </li>
      <% end %>

      <% info[:resources].each do |r, i| %>
        <% render_resource_nav(r, i, "#{prefix}-#{resource}") %>
      <% end %>
    </ul>
  </li>
<% end %>

<div class="row-fluid">
  <div class="col-md-10" data-spy="scroll" data-target=".table-of-contents">
    <h1 id="root">API v<%= @v %></h1>
    <p>
      This page contains a list of resources available in API v<%= @v %>, their actions,
      description, parameters and example usage.
    </p>
    <p>
      Every action has assigned URL, which may be identical for several actions, but
      differ in HTTP method.
    </p>
    <p>
      This API is self-describing. Every action responds to HTTP method <em>OPTIONS</em>,
      with which you can get description for selected action. To distinguish actions with
      same URL, use parameter <code>?method=HTTP_METHOD</code>.
    </p>
    <p>
      When action requires authentication, you have to login with HTTP basic auth.
    </p>
    <p>
      In addition to output parameters specified below, every API response is wrapped in an envelope.
      The envelope reports if action succeeded or failed, provides return value or error
      message.
    </p>
    <p>
      Envelope:
      <pre>
        <code>
      {
        "status": true if action succeeded or false if error occured,
        "response": return value,
        "message": error message, if status is false,
        "errors: {
          "parameter1": ["list", "of", "errors"],
          "parameter2": ["and", "so", "on"]
        }
      }</code>
      </pre>
    </p>
    <p>
      For now, the only supported input/output format is JSON.
    </p>

    <h1 id="resources">Resources</h1>

    <% @help[:resources].each do |resource, info| %>
      <% render_resource_body(resource, info) %>
    <% end %>
  </div>

  <div class="col-md-2 table-of-contents nav sidebar-nav-fixed">
    <h1>Table of contents</h1>
    <ul class="">
      <li><a href="#root">API v<%= @v %></a></li>
      <li><a href="#resources">Resources</a></li>
      <% @help[:resources].each do |resource, info| %>
        <% render_resource_nav(resource, info) %>
      <% end %>
    </ul>
  </div>
</div>
